@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #FAFAFA;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}

.animatedButton {
    animation-duration: 10000ms;
}

.ql-toolbar {
    border-radius: 5px;
}

.ql-container {
    border: none !important;
}

.ql-editor {
    border: none !important;
}

/* 
-- Earthy Tech Fusion --
Background: #FAFAFA (Off-White)
Primary Accent: #4CAF50 (Green Tech)
Secondary Accent: #FFC107 (Amber)
Text: #212121 (Rich Black)
Card/Container: #EEEEEE (Light Gray) 
*/